@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,700);

html,body {
  padding-bottom: 40px;
  background-color: #ffffff;
  background-image: none !important;
  margin: 0px;
}
.logorv {
    height: 200px;
    width: 250px;
    object-fit: contain;
    object-position: center;
    position: absolute;
    margin-left: 5%;
}
  .form-signin {
  width: 330px;
  max-width: 100%;
  padding: 5px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control.tabovi {
  position: relative;
  height: 30px;
  width: 45%;
  left:4%;
  margin:1px;
  font-weight:bold;
  display: -webkit-inline-box;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 14px;
  background-color:#428bca;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#myDiv {
    margin: 100px;
}
[data-tip] {
	position:relative;

}
[data-tip]:before {
	content:'';
	/* hides the tooltip when not hovered */
	display:none;
	content:'';
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #1a1a1a;	
	position:absolute;
	top:30px;
	left:35px;
	z-index:8;
	font-size:0;
	line-height:0;
	width:0;
	height:0;
}
[data-tip]:after {
	display:none;
	content:attr(data-tip);
	position:absolute;
	top:35px;
	left:0px;
	padding:5px 8px;
	background:#1a1a1a;
	color:#fff;
	z-index:9;
	font-size: 0.75em;
	height:20px;
	line-height:18px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	white-space:nowrap;
	word-wrap:normal;
}
[data-tip]:hover:before,
[data-tip]:hover:after {
	display:block;
}
#menu1 {
    width: 100%;
    font-size: 35px;
    color: #607d8b;
    font-weight: bold;
    padding: 15px;
	margin-top: 20%;
    margin-bottom: 35px;
    border: 2px solid green;
    border-radius: 15px;
	outline-style: none;
	font-family: Titillium Web, sans-serif;
	font-weight: 700;
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}
#zovko {
	height: 38px;
	display: none;
    width: 162px;
	margin: auto;
	background-image: url("../img/z1.png");
}
.okvir {
    padding-top: 5px;
    padding-bottom: 7px;
	    height: 85px;
}
.okvir .nazivokvira 
{
float:left;
margin:5px;
}
.okvir .tipke 
{
float:right;
}

input[type=checkbox] {
  outline: none;
  width: 58px;
  height: 23px;
  font-size: 11px;
  line-height: 2;
  display: inline-block;
  font-weight: bold;
  border-radius: 3px;
  border: 1px solid #B9B9B9;
  -webkit-appearance: none;

  background-image: -webkit-gradient( 
    linear, left top, left bottom,
    color-stop(0, #E8E8E8),
    color-stop(0.5, #E8E8E8),
    color-stop(0.5, #FDFDFD),
    color-stop(1, #FDFDFD)
  );
  box-shadow: 0px 1px 2px #AFAFAF inset;
  color: #7F7F7F;
}

input[type=checkbox]:checked {
  background-image: -webkit-gradient( 
    linear, left top, left bottom,
    color-stop(0, #367EF8),
    color-stop(0.5, #367EF8),
    color-stop(0.5, #66A3F8),
    color-stop(1, #66A3F8)
  );
  box-shadow: 0px 1px 2px #1449A3 inset;
  color: #fff;
  text-shadow: 0px -1px 1px #000;
  border: 1px solid #99B9E8;
}

input[type=checkbox]:before {
  content: 'NE';
  border-radius: 3px;
  border-top: 1px solid #F7F7F7;
  border-right: 1px solid #999999;
  border-bottom: 1px solid: #BABABA;
  border-left: 1px solid #BDBDBD;
  background-image: -webkit-gradient( 
    linear, left top, left bottom,
    color-stop(0, #D8D8D8),
    color-stop(1, #FBFBFB)
  );
  height: 20px;
  width: 22px;
  display: inline-block;
  text-indent: 27px;
}

input[type=checkbox]:checked:before {
  content: 'DA';
  text-indent: -25px;
  margin-left: 33px;
}